prometheus-node-exporter:
  enabled: false

prometheus-pushgateway:
  enabled: false

alertmanager:
  enabled: false

server:
  service:
    type: LoadBalancer


serverFiles:
  prometheus.yml:
    scrape_configs:
      - job_name: prometheus
        static_configs:
          - targets:
              - 127.0.0.1:9090